* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100vh;
  background-image: url('./movieback.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.movie-genre {
  font-family: Arial, sans-serif;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

nav {
  display: flex;
  gap: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: fadeup 1s ease-in-out;
}
button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
button:hover {
  background-color: blue;
  color: white;
  transform: translateY(-5px);
}
.bubble {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: fadeup 1s ease-in-out;
}

@keyframes fadeup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-10px);
  }
}
